.button {
  color: white;
  background-color: var(--primary-color);
  padding: 10px 15px;
  border-radius: 15px;
  border-color: var(--primary-color);
  text-transform: uppercase;
  display: block;
  font-weight: 600;

  &:hover {
    background-color: white;
    color: var(--primary-color);
    cursor: pointer;
  }
}
