.buttonBlue {
  color: white;
  background-color: var(--primary-color);
  padding: 10px 15px;
  border-radius: 25px;
  border-color: var(--primary-color);
  border-style: solid;
  text-transform: uppercase;
  display: block;
  font-weight: 600;

  &:hover {
    background-color: white;
    color: var(--primary-color);
    cursor: pointer;
  }
}

.buttonLight {
  color: black;
  background-color: transparent;
  padding: 10px 15px;
  border-radius: 25px;
  border-color: transparent;
  border-style: solid;
  display: block;
  font-weight: 400;

  &:hover {
    background-color: white;
    color: var(--primary-color);
    border-color: var(--primary-color);
    cursor: pointer;
  }
}
